{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/premier.css' %}">
    <title>主页</title>

</head>
<body>


<div class="menu-bar">
            <div class="left-part">
                <a id="huaban" href="/"></a>
                <a href="/discovery/" class="header-item active">主页</a>
                <a href="http://meia.me" target="_blank" class="header-item">联系我们</a><span class="text"> 注册</span></a>
                <a onclick="app.requireLogin('', {to: 'login'});return false;" rel="nofollow" href="#" class="login btn wbtn">
                    <span class="text"> 登录</span>
                </a>
            </div>
 </div>

<div id=paobu>
        <a href="{% url 'premier:prediction' %}" class="button">
        </a>
    </div>

<div id=page>
		<div id=search>
            <a href="https://www.baidu.com">
            <input type="button" style=" width:420px; height:250px; border:0; background:no-repeat right top"> </input>
        </a>
		</div>
        <div id=search1>
			<a href="https://www.baidu.com">
            <input type="button" style=" width:420px; height:250px; border:0; background:no-repeat right top"> </input>
        </a>
		</div>
		<div id=search2>
			<a href="https://www.baidu.com">
            <input type="button" style=" width:420px; height:250px; border:0; background:no-repeat right top"> </input>
        </a>
		</div>
	</div>

</body>
</html>

